.ShowDogs {
  min-height: 50vh;
  width: 100%;
}

.showdogs-container {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favourite-button {
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 20px;
}

.dog-image {
  position: relative;
  width: 200px;
  height: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

button {
  height: 40px;
  min-width: 200px;
  font-size: 30px;
}

button:hover {
  cursor: pointer;
}

.unclickable {
  color: grey;
  pointer-events: none;
}

.loading-spinner {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0)}
  100% {transform: rotate(89deg)}
}

.dog-image > p {
  position: absolute;
  bottom: 40px;
  font-size: 20px;
  font-weight: bold;
}