.FavouriteDogs {
  min-height: 50vh;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.favourite-dog {
  height: 240px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px 15px 10px;
  border: 1px solid gainsboro;
}

.favourite-dog-image {
  object-fit: contain;
  height: 200px;
  width: 100%;
}