.ShowDogs {
  height: 50%;
  width: 100%;
  background-color:lightseagreen;
}

.showdogs-container {
  flex-direction: row;
  display: flex;
}

.favourite-button {
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dog-image {
  width: 200px;
  height: 300px;
  max-width: auto;
  max-height: auto;

}